<!doctype html>
<html lang="en">

<!-- Image Type -->
<p>
    <div>
        <label><h4>Image Type</h4></label>
    </div>
    <div>
        <input id="imageTypeInput" name="ImageType" value="bright" style="display:none;">
        <div
            type="text"
            class="img-type-btn btn btn-outline-primary active"
            id="bright"
            value="bright"
            aria-pressed="true"
        >
            bright
        </div>
        <div
            type="text"
            class="img-type-btn btn btn-outline-primary"
            id="dark"    
            value="dark"
        >
            dark
        </div>
        <small id="ImageTypeHelpBlock" class="form-text text-muted">
            The brightness of the cell bodies relative to the image background
        </small>
    </div>
</p>

<!-- Hole Fill Area -->
<p>
    <div>
    <label><h4>Hole Fill Area</h4></label>
    <input type="text" pattern="^([0-9]+|Inf|inf)$"class="form-control" placeholder="inf" aria-label="hole fill area" name="HoleFillArea" id="holefillarea" value="inf">
    <small id="holeFillAreaHelpBlock" class="form-text text-muted">
        Size (in pixels) of the largest empty space between cells (on the inside of a colony) to consider part of the colony. Intercell space is not typically easily identified in colonies of round cells; for these we recommend first trying the default setting (inf). However, intercell space can often be accurately parsed in colonies of rod-shaped cells.
    </small>
    </div>
</p>

<!-- Cell Intensity Num -->
<p>
    <div>
    <label><h4>Cell Intensity Number</h4></label>
    <input type="number" class="form-control" value=1  min=1 max=2 placeholder="1" aria-label="cell_intensity_num" name="CellIntensityNum" id="cellintensitynum">
    <small id="CellIntensityNumHelpBlock" class="form-text text-muted">
        The number of distinct intensity categories belonging to cells in the image; determines whether 2 or 3 Gaussians are used to fit intensity log histogram for threshold determination. Can be set to 1 (default, recommended) or 2 (in rare cases).
    </small>
    </div>
</p>

<!-- Clean Up -->

<p>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" name="CleanUp" value="CleanUp">
        <label class="custom-control-label big-checkbox" for="customCheck1">
            <h4 id="big-checkbox-label">Perform Clean-Up Step</h4>
        </label>
        <small id="cleanUpHelpBlock" class="form-text text-muted">
        Whether to perform recursive cleanup step to remove pieces of background detected as part of the colony. This is helpful in certain imaging conditions but can result in parts of real colonies being missed; we recommend first trying analysis on a set of images without cleanup first. Images taken under identical imaging conditions should be consistent in whether or not they require cleanup.
        </small>
        <div id="conditional_part">
            <medium>
                <strong>Max Proportion Exposed Edge</strong>
            </medium>
            <input type="number" class="form-control" value=0.75 min=0 max=1 step=any placeholder=0.75 aria-label="max_prop_exposed_edge" name="MaxProportionExposedEdge">
            <small id="maxProportionEdgeHelpBlock" class="form-text text-muted">
            The max proportion of the edge of a detected colony ‘pie piece’ that is allowed to not touch a neighboring pie piece before being removed during cleanup step. Recommended to be set to 0.6-0.75. Only applies during cleanup steps.
            </small>
        </div>
    </div>


</p>
