<!doctype html>
<html lang="en">

<hr>

<!-- ReviewPermission-->
<p>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="reviewPermissionCheck" name="ReviewPermission" value="ReviewPermission" checked=True>
        <label class="custom-control-label" for="reviewPermissionCheck">
            "I give the Siegal lab permission to review these images and the image analysis output” (optional)
        </label>
        <!-- Collect Client Email Data-->
        <p>
        <div class="input-group mb-3" id="user_email_div">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">User Email (optional)</span>
            </div>
            <input type="email" class="form-control" placeholder="" aria-label="UserEmail" name="UserEmail" value="">
        </div>

        <small id="collectEmailHelpBlock" class="form-text text-muted">
            While sharing your analysis data with the Siegal lab is not required, seeing how PIE performs on user-supplied images will allow us to improve this program. We would therefore appreciate your permission to look at your images; of course, we will not share any of them outside the Siegal lab without first getting your permission.
        </small>
        </p>
    </div>
</p>

