{% extends "public/templates/public_template.html" %}

{% block title %}Colony Recognition Analysis{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>Colony Recognition Analysis</h1>
            <p class="lead text-justify">
                <br>For the colomy recognition module of this website, upload a single brightfield or phase contrast image.<br>
                We find that for <b>yeast and bigger cells</b>, 10-20x magnification works best; for <b>bacteria</b>, 40-60x magnification is optimal.<br> 
                For <b>brightfield imaging</b>, ideal images for PIE analysis are slightly defocused, with dark outlining surrounding cells that are brighter than the background. For <b>phase-contrast imaging</b>, a wide range of imaging conditions are acceptable.
            </p>
            <small class="form-text text-muted">
                (This app does not work in Safari, please use a different browser)
            </small>
            <hr>
        
            <form action="/colony-recognition" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label><h4>Upload single image</h4></label>
                    <div class="custom-file">
                        <input
                            oninput="handleFileSelect(this);"
                            type="file"
                            class="custom-file-input"
                            multiple="true"
                            name="image"
                            id="image"
                            autocomplete="off"
                            #required
                        >
                        <label class="custom-file-label" for="image">
                            Select image...
                        </label>
                    </div>
 
                    <div>
                        <medium>maximum image size: 150 MB</medium>
                    </div>
                    <div id="image-list" class="row" style="margin: 20px 0px;"></div>
                    <hr>

                    {% include "public/templates/image_analysis_params.html" %}

                    {% include "public/templates/review_permission_params.html" %}


                    
                </div>

                <button type="submit" class="btn btn-primary">Run Analysis</button>
            </form>

            <hr>

            <div class="link" style="width: 18rem;">
                  <a href="https://www.biorxiv.org/content/10.1101/253724v2.full" target="_blank" class="card-link">Read Paper</a>
                  <a href="https://github.com/Siegallab/PIE" target="_blank" class="card-link">Download Code</a>
            </div>
            <br>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    var imageListDiv = document.getElementById('image-list');

    function handleFileSelect(element){
        const files = element && element.files;
        if (!files) return;

        const images = [...files]
            .filter(file => /image/i.test(file.type))

        for (const image of images) {
            const inputElement = document.createElement("div");
            inputElement.className = '.col-md-2';
            inputElement.innerText = `${image.name}\nsize: ${(image.size/(1024*1024)).toFixed(3)}MB`;
            inputElement.style.backgroundColor = 'gainsboro';
            inputElement.style.padding = '20px';
            inputElement.style.borderRadius = '6px';
            inputElement.style.fontSize = '20px';
            inputElement.style.fontStyle = 'bolds';

            imageListDiv.appendChild(inputElement);
        }

        var firstFile = files && files[0];
        if (!firstFile) return;

        var fileSize = firstFile.size;
        document.cookie = `filesize=${fileSize}`
    }

    {% include "public/scripts/image_analysis_param_script.js" %}
    {% include "public/scripts/review_permission_script.js" %}

</script>

{% endblock %}