{% extends "public/templates/public_template.html" %}

{% block title %}Growth Rate Analysis{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Growth Rate Analysis</h1>
            <p class="lead text-justify">
                <br>For the growth rate module of this website, upload a single timeseries (all images at one xy position) 
                of brightfield or phase contrast micrographs.<br>
                We find that for <b>yeast and bigger cells</b>, 10-20x magnification works best; for <b>bacteria</b>, 40-60x magnification is optimal.<br> 
                For <b>brightfield imaging</b>, ideal images for PIE analysis are slightly defocused, with dark outlining surrounding cells that are brighter than the background. For <b>phase-contrast imaging</b>, a wide range of imaging conditions are acceptable.<br> 
                Arrange the micrographs below in consecutive order (please note that the images will be renamed t1xy1-t#xy1 in analysis output).<br>
            </p>

            <small class="form-text text-muted">
                (This app does not work in Safari, please use a different browser)
            </small>

            <hr>
            
            <form action="/growth-rate" method="POST" enctype="multipart/form-data" id="main-gr-form">

                <div class="form-group">
                    <label><h4>Upload multiple images</h4></label>
                    <p>Upload images of multiple timepoints from a single imaging position</p>
                    <div class="custom-file">
                        <input
                            oninput="handleFileSelect(this);"
                            type="file"
                            class="custom-file-input"
                            multiple="true"
                            name="image"
                            id="image"
                            autocomplete="off"
                            #required
                        >
                        <label class="custom-file-label" for="image">
                            Select images...
                        </label>
                    </div>
                    <div>
                        <medium>maximum image size: 150 MB</medium>

                    </div>

                    <div id="image-list-label" class="row" style="margin: 20px 0px;"></div>
                    <div id="image-list" class="row" style="margin: 20px 0px;"></div>

                    <hr>
                    
                    <!-- Image Analysis Parameters-->
                    {% include "public/templates/image_analysis_params.html" %}

                    <!-- Growth Parameters -->
                     <!-- Growth Window Timepoints -->
                     <p>
                        <div>
                            <label><h4>Growth Window Timepoints</h4></label>
                        
                            <input type=number class="form-control" value=0 min=0 placeholder="0" aria-label="growth_window_timepoints" name="GrowthWindowTimepoints" id="growthwindowtimepoints">
                            <small id="GrowthWindowTimepointsHelpBlock" class="form-text text-muted">
                                Number of timepoints to include in growth rate calculation. 
                                If set to 0, use all timepoints to calculate growth rate; 
                                otherwise, report the highest growth rate for a colony that includes at least minimum_timepoint_number
                                (enter an integer, default = 0, must be >=0)
                            </small>
                        </div>
                    </p>

                    <!-- Timepoint Spacing -->
                    <p>
                        <div>
                            <label><h4>Timepoint Spacing</h4></label>
                        
                            <input type="number" class="form-control" value=0  min=0 placeholder="3600" aria-label="timepoint_spacing" name="TimepointSpacing" id="timepointspacing">
                            <small id="TimepointSpacingHelpBlock" class="form-text text-muted">
                                The number of seconds elapsed between each timepoint (enter an integer, default = 3600)
                            </small>
                        </div>
                    </p>

                    <hr>

                    <!-- ReviewPermission-->
                    {% include "public/templates/review_permission_params.html" %}

                </div>

                <button type="submit" class="btn btn-primary" id="submit_button">Run Analysis</button>
            </form>

            <hr>

            <div class="link" style="width: 18rem;">
                  <a href="https://www.biorxiv.org/content/10.1101/253724v2.full" target="_blank" class="card-link">Read Paper</a>
                  <a href="https://github.com/Siegallab/PIE" target="_blank" class="card-link">Download Code</a>
            </div>
            <br>
    
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>

    // show the names and sizes of files selected by client (show before hitting submit button)
    var image_dict = {}
    function handleFileSelect(element){

        // Add directions label for image list
        imageListLabelDiv = document.getElementById('image-list-label');
        imageListLabelDiv.innerHTML = "Use the arrows to arrange the image files in consecutive time order";

        const files = element && element.files;
        if (!files) return;

        console.log(element.files)

        const images = [...files]
            .filter(file => /image/i.test(file.type))

        // order selected files
        var moveLeft = event => {
            index = event.target.index
            // move files to the left
            console.log(index)
            console.log(image_dict)
            if (index>0){
                tmp_im = image_dict[index];
                image_dict[index] = image_dict[index - 1];
                image_dict[index - 1] = tmp_im;

                reset_im_order(image_dict);
            }
     
            console.log('move this file to the left');
            console.log('-------')
            console.log(index)
            console.log(element.files)
            console.log(image_dict)
        }

        var moveRight = event => {
            index = event.target.index
            // move files to the right
            console.log(index)
            console.log(image_dict)
            if (index < (Object.keys(image_dict).length-1)){
                tmp_subdict = image_dict[index];
                image_dict[index] = image_dict[index + 1];
                image_dict[index + 1] = tmp_subdict;

                reset_im_order(image_dict);

            }
     
            console.log('move this file to the right');
            console.log('-------')
            console.log(index)
            console.log(element.files)
            console.log(image_dict)
        }

        function create_set_div(im, index){
            var imageSetDiv = document.createElement('div')

            const inputElement = document.createElement("div");
            inputElement.className = '.col-md-2';
            inputElement.innerText = `${im.name}\nsize: ${(im.size/(1024*1024)).toFixed(3)}MB`;
            inputElement.style.backgroundColor = 'gainsboro';
            inputElement.style.padding = '8px';
            inputElement.style.borderRadius = '6px';
            inputElement.style.fontSize = '15px';
            inputElement.style.fontStyle = 'bolds';
            inputElement.style.borderWidth = 'thin';
            inputElement.style.borderColor = 'black';
            inputElement.style.borderStyle = 'solid';
            inputElement.style.width = "auto";
            inputElement.style.textAlign = "center";

            const buttonElement_left = document.createElement("button");
            buttonElement_left.className = '.col-md-2';
            buttonElement_left.style.backgroundColor = '#21ABCD';
            buttonElement_left.style.padding = '2px';
            buttonElement_left.style.borderRadius = '6px';
            buttonElement_left.style.fontSize = '15px';
            buttonElement_left.style.fontStyle = 'bolds';
            buttonElement_left.style.width = '50%';
            buttonElement_left.innerText = '<';
            buttonElement_left.type = 'button';
            buttonElement_left.index = index

            const buttonElement_right = document.createElement("button");
            buttonElement_right.className = '.col-md-2';
            buttonElement_right.style.backgroundColor = '#21ABCD';
            buttonElement_right.style.padding = '2px';
            buttonElement_right.style.borderRadius = '6px';
            buttonElement_right.style.fontSize = '15px';
            buttonElement_right.style.fontStyle = 'bolds';
            buttonElement_right.style.width = '50%';
            buttonElement_right.innerText = '>';
            buttonElement_right.type = 'button';
            buttonElement_right.index = index;
            
            buttonElement_left.addEventListener('click', moveLeft);
            buttonElement_right.addEventListener('click', moveRight);

            imageSetDiv.appendChild(inputElement);
            imageSetDiv.appendChild(buttonElement_left);
            imageSetDiv.appendChild(buttonElement_right);

            return imageSetDiv;
        }

        // Fill initial image_dict
        let index = 0;
        for (const image of images) {
            image_dict[index] = image;
            index++;
        }

        function create_list_div(dict){
            imageListDiv = document.getElementById('image-list');
            imageListDiv.innerHTML = "";
            for (var i = 0, len = Object.keys(dict).length; i<len; i++) {
                im = dict[i]
                imSetDiv = create_set_div(im, i);
                imageListDiv.appendChild(imSetDiv);
            }
        }

        function array_to_FileList (file_array) {
            var b = new ClipboardEvent("").clipboardData || new DataTransfer()
            for (var i = 0, len = file_array.length; i<len; i++) b.items.add(file_array[i])
            element.files = b.files
        }

        function reset_im_order(dict) {
            var file_array = [];
            for (var i = 0, len = Object.keys(dict).length; i<len; i++) {
                file_array.push(dict[i]);
            }
            create_list_div(dict);
            array_to_FileList(file_array);
        }

        reset_im_order(image_dict);
        console.log(image_dict)

        var firstFile = files && files[0];
        if (!firstFile) return;

        var fileSize = firstFile.size;
        document.cookie = `filesize=${fileSize}`

    }

    {% include "public/scripts/image_analysis_param_script.js" %}
    {% include "public/scripts/review_permission_script.js" %}

    // limit input value for growth_window_timepoints to depend on the number of files entered
    var limitGrowthWindowNum = event => {

        max_growth_window_val = Object.keys(image_dict).length;
        
        var target = event.target;
        var value = target.value;
        console.log(value)

        if (!value || (value < 0) || (value > max_growth_window_val)){
            console.log('yes')
            target.value = 0
        }
    }

    $("#growthwindowtimepoints")[0].addEventListener('change', limitGrowthWindowNum);

</script>
{% endblock %}