
{% extends "public/templates/public_template.html" %}

{% import "macros/input_macro.html" as im %}

{% block title %}Output Images{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Growth Rate Analysis Output Result</h1>
            <hr>

            <h4>Boundary Image Movie</h4>
            <hr>

            <img src= "{{movie_url}}" width="800">

            <br>
            <br>

            <h4>Boundary Images</h4>
            <hr>
            
            <ul class="boundary_image_display">
            {% set count = namespace(value=1) %}
            {% for img in boundary_ims_url_ls %}
            <div><img src= "{{img}}" width="500">{{ count.value }}</div>
            {% set count.value = count.value + 1 %}
            {% endfor %}
            </ul>

            <!--url list to images under the unique user directory-->
            <p>Link to download processed images and csv</p>
            <ul>
                {% for url in url_ls %}
                <li>{{ url }}</li>
                {% endfor %}
            </ul>

            <br>
            <br>
            
            <h4>Table of Growth Rate</h4>
            <hr>

            <table>
            
                <tr>
                    {% for col in column_names_grcombined %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>

                {% for row in row_data_grcombined %}
                <tr>
                    {% for col, row_ in zip(column_names_grcombined, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
            
            <br>
            <br>
            
            <h4>Table of Colony Properties</h4>
            <hr>

            <table>
            
                <tr>
                    {% for col in column_names_cpcombined %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>

                {% for row in row_data_cpcombined %}
                <tr>
                    {% for col, row_ in zip(column_names_cpcombined, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>



        </div>
    </div>
</div>
{% endblock %}