
{% extends "public/templates/public_template.html" %}

{% import "macros/input_macro.html" as im %}

{% block title %}Output Images{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Colony Recognition Output Result</h1>
            <hr>

            <br>
            <p>Image analyzed in {{ analysis_time }} seconds</p>
            <p><b>{{ detected_colonies }}</b> microcolonies detected.</p>
            <br>


            <h4>Boundary Image</h4>
            <hr>

            <img src= "{{boundary_im_url}}" width="800">
            
            <hr>

            <h4>Table of Colony Properties</h4>
            <hr>

            {% for table in col_prop_tables %}
                {{ table|safe }}
            {% endfor %}

            <br>
            <br>

            <!--url list to images under the unique user directory-->

            <h4>Links to download processed images and csv</h4>
            <hr>
            <ul class="list-group"; style="list-style-type:none; margin: 10px 10px 10px 30px; font-size:16px">
                {% for _, row in website_df.iterrows() %}
                <li><a href="{{ row.url }}">{{ row.website_key }}</a></li>
                {% endfor %}
            </ul>
            <br>
            Your images will be available at the links above for two weeks.
            <br>
            <br>

        </div>
    </div>
</div>

<!--SoftwareInfo-->
{% include "public/templates/software_info.html" %}

{% endblock %}