
{% extends "public/templates/public_template.html" %}

{% import "macros/input_macro.html" as im %}

{% block title %}Output Images{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Colony Recognition Output Result</h1>
            <hr>

            <h4>Boundary Image</h4>
            <hr>

            <img src= "{{boundary_im_url}}" width="800">
            
            <!--url list to images under the unique user directory-->
            <p>Link to download processed images and csv</p>
            <ul>
                {% for url in url_ls %}
                <li>{{ url }}</li>
                {% endfor %}
            </ul>

            <h4>Table of Colony Properties</h4>
            <hr>

            <table>
            
                <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>

                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>

        </div>
    </div>
</div>
{% endblock %}